* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  background-color: #0f1116;
  color: #e0e0e0;
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navigasi-utama {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 50%;
  width: 70%;
  border-radius: 40px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.1);
  z-index: 1000;
}

.logo-utama {
  font-size: 26px;
  font-weight: 700;
  color: #007bff;
  letter-spacing: 1px;
}

.daftar-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.daftar-menu a {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: 500;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.3s;
}

.daftar-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: #007bff;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.daftar-menu a:hover {
  color: #007bff;
}

.daftar-menu a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.bagian-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 610px;
  background: linear-gradient(145deg, #101219, #1b1d25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  position: relative;
  overflow: hidden;
}

.container-hero {
  width: 50%;
  padding-left: 40px;
  z-index: 2;
}

.judul-hero {
  font-size: 42px;
  margin-bottom: 20px;
  color: #ffffff;
}

.deskripsi-hero {
  font-size: 18px;
  margin-bottom: 30px;
  color: #b5b5b5;
}

.tombol-utama {
  position: relative;
  z-index: 2;
  overflow: hidden;
  color: #ffffff;
  background: transparent;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3s;
  box-shadow: 0 0 20px #008ee5;
}

.tombol-utama span {
  position: relative;
  z-index: 3;
}

.tombol-utama::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #008ee5;
  transition: all 0.5s;
}

.tombol-utama:hover::after {
  transform: translate(-50%, -50%) scale(0);
}

.tombol-utama:hover {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  transform: scale(0.9);
}

.tombol-utama-chat {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: transparent;
  color: #ffffff;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3s;
  box-shadow: 0 0 5px #008ee5;
}

.tombol-utama-chat::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #008ee5;
  transition: all 0.5s;
}

.tombol-utama-chat span {
  position: relative;
  z-index: 3;
}

.tombol-utama-chat:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

.tombol-utama-chat:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #008ee5;
}

.hero-rotasi-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.container-hero-2 {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 250px;
  height: 800px;
  transform: rotate(-15deg);
  transform-origin: center;
  position: absolute;
  top: -130px;
  right: -40px;
}

.container-hero-2-2 {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 250px;
  height: 800px;
  transform: rotate(15deg);
  transform-origin: center;
  position: absolute;
  top: -160px;
  left: -40px;
}

.scroll-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  animation: scroll 60s infinite linear;
}

.scroll-main-reverse {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 15px;
  animation: scroll-reverse 60s infinite linear;
}

@keyframes scroll {
  to {
    transform: translateY(-100%);
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.kotak-i {
  border-radius: 20px;
  height: 155px;
  width: 70%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.kotak-i img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.bagian-kategori {
  padding: 80px 30px;
  background-color: #13151b;
}

.border-judul-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: fit-content;
}

.border-judul-section p {
  padding-top: 20px;
}

.judul-section {
  position: relative;
  font-size: 30px;
  color: #ffffff;
  width: fit-content;
  font-weight: bold;
  padding-bottom: 5px;
}

.judul-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 3px;
  border-radius: 10px;
  background: linear-gradient(to right, #008ee5, #9400e5);
}

.daftar-kategori {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 40px;
}

.inner-spinner {
  position: relative;
  overflow: hidden;
  background: transparent;
  border-radius: 12px;
  padding: 2px;
  width: fit-content;
  transition: transform 0.3s;
}

.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  background: linear-gradient(to bottom, #008ee5, #9400e5);
  height: 200%;
  width: 40%;
  z-index: 1;
  animation: spinner 3s infinite linear;
}

@keyframes spinner {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.item-kategori {
  position: relative;
  background-color: #1d1f26;
  padding: 35px 20px;
  border-radius: 12px;
  text-align: center;
  color: #ffffff;
  width: 160px;
  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.inner-spinner:hover {
  transform: scale(1.1);
}

.ikon-kategori {
  font-size: 38px;
  color: #007bff;
  margin-bottom: 10px;
}

.nama-kategori {
  font-size: 16px;
  font-weight: 500;
}

.bagian-produk {
  padding: 80px 30px;
  background-color: #0f1116;
}

.search-box {
  display: flex;
  align-items: center;
  background: #1d1f26;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 10px 15px;
  width: 250px;
  transition: all 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  margin: 40px 0;
}

.search-box:hover,
.search-box:focus-within {
  border-color: #008ee5;
  box-shadow: 0 0 5px rgba(0, 142, 229, 0.4);
}

.search-box i {
  color: #8a8d94;
  font-size: 1rem;
  margin-right: 10px;
  transition: color 0.3s;
}

.search-box:focus-within i {
  color: #008ee5;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  font-size: 0.95rem;
  font-family: "Poppins", sans-serif;
}

.search-box input::placeholder {
  color: #777;
}

.isi-tombol-kategori {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 10px 15px;
  width: 100%;
  margin-bottom: 40px;
}

.tombol-kategori {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  border: none;
  font-size: 1rem;
  color: black;
  transition: background 0.3s, color 0.3s;
  background: white;
}

.tombol-kategori:hover {
  background: #caccd1;
}

.grid-produk {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.kartu-produk {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border: 1px solid #008ee5;
  box-shadow: 0 0 5px;
  border-radius: 15px;
  text-align: left;
  transition: all 0.3s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  overflow: hidden;
}

.kartu-produk:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px #008ee5;
}

.kartu-produk:hover .gambar-produk {
  transform: scale(1.1);
}

.produk-img {
  height: 200px;
  overflow: hidden;
}

.gambar-produk {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.3s;
}

.kartu-isi {
  padding: 20px;
  height: 100%;
}

.nama-produk {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #008ee5, #9400e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.harga-produk {
  font-size: 16px;
  margin-bottom: 15px;
}

.link-afiliasi {
  position: relative;
  background: transparent;
  border: 1px solid #008ee5;
  color: #ffffff;
  padding: 8px 18px;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 0 5px #008ee5;
  display: inline-block;
  font-weight: 500;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s;
}

.link-afiliasi::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #008ee5;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s;
}

.link-afiliasi:hover {
  box-shadow: 0 0 20px #008ee5;
}

.link-afiliasi:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

.bagian-tentang {
  padding: 80px 30px;
  background-color: #13151b;
}

.konten-tentang {
  padding-top: 40px;
  text-align: center;
  margin-inline: 80px;
}

.bungkus-a-tentang {
  margin-top: 40px;
}

.konten-tentang p {
  color: #b5b5b5;
}

.Link {
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.3s;
  padding: 15px 25px;
  background: transparent;
  transition: all 0.5s;
  box-shadow: 0 0 5px #008ee5;
}

.Link:hover {
  background: #008ee5;
  box-shadow: 0 0 20px #008ee5;
}

.Link span {
  color: white;
  position: relative;
  z-index: 2;
}

.bagian-kontak {
  padding: 20px 40px;
}

.info-kontak {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  max-width: 700px;
}

.info-kontak h2 {
  margin-bottom: 20px;
}

.info-kontak p {
  max-width: 600px;
  margin-bottom: 20px;
  color: #b5b5b5;
}

.bungkus-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-email {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-telepon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-email i {
  font-size: 24px;
  color: #008ee5;
}

.info-telepon i {
  font-size: 24px;
  color: #008ee5;
}

.bungkus-formulir {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 12px;
  border: 1px solid #1b1f2f;
  max-width: 700px;
  margin: 0 auto;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.formulir {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bagian-input-atas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.kotak-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #dcdcdc;
}

.input-kontak {
  /*background-color: #161b2b;*/
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #2a2f45;
  border-radius: 6px;
  color: #c7c9d3;
  padding: 12px 14px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s, background 0.3s;
}

.input-kontak:focus {
  border-color: #008ee5;
  background-color: #1a2035;
}

textarea {
  min-height: 140px;
  resize: none;
}

.bagian-pesan {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tombol-kirim {
  position: relative;
  overflow: hidden;
  background: transparent;
  box-shadow: 0 0 5px #008ee5;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 14px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 30%;
  transition: all 0.5s;
}

.tombol-kirim:hover {
  background: #008ee5;
  box-shadow: 0 0 20px #008ee5;
}

.tombol-kirim:active {
  transform: scale(0.97);
}

@media (max-width: 640px) {
  .bagian-input-atas {
    grid-template-columns: 1fr;
  }
}

.bagian-footer {
  background-color: #121418;
  margin-top: 50px;
  color: #ccc;
  text-align: center;
}

.konten-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 20px 60px 20px;
}

.kolom-footer {
  flex: 1;
  margin: 15px;
  text-align: left;
  width: fit-content !important;
}

.judul-kolom {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffffff;
  position: relative;
  padding-bottom: 5px;
}

.judul-kolom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  border-radius: 5px;
  width: 35%;
}

.daftar-footer {
  list-style: none;
  width: fit-content;
}

.daftar-footer a {
  position: relative;
  color: #b5b5b5;
  width: fit-content;
  text-decoration: none;
  transition: color 0.3s;
}

.daftar-footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: #007bff;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.daftar-footer a:hover::after,
.daftar-footer a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.daftar-footer a:hover {
  color: #007bff;
}

.hak-cipta {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-block: 20px;
  font-size: 14px;
  color: #888;
  text-align: center;
}